<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hate Image Classification</title>
	<link rel="stylesheet" type="text/css" href="/static/classify.css" media="screen"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>

  </body>
</html>

<p class="aligncenter">
    <img src="{{url}}" alt="Can't be displayed"/>
</p>

<p class = aligncenter>Do you see a recognizable swastika in this photo?</p>

<div class="text-center">
	<form action="", method = "post">
		<input name = "classification" class="btn btn-info aligncenter" type = Submit Value = 1></input>
    <input name = "classification" class="btn btn-info aligncenter" type = Submit Value = 0></input>
    <input name = "id" type = hidden Value = {{key}}>
	</form>
</div>